<div id="discovery-main">
  <header>
    <h2>
      <strong>MGKMEDYA</strong>
      ÜZERİNDEKİ DİĞER TARTIŞMALAR
    </h2>
  </header>
  <section>
    <ul id="discovery-units">
		<%= @discoveries.count.to_s  %>
	   <% unless @comments.empty? %>
	    <%#= render :partial => 'acl_cogito/discovery', :collection => comments %>
	   <% end %>
    </ul>
  </section>
</div>