<% reply = defined?(reply) ? reply : false %>
<div class="media" id="comment_<%= comment.id %>">
  <a class="pull-left" href="#">
    <!-- add here member's avatar -->
	<img class="media-object" src="..." alt="...">
	<!-- member avatar -->
  </a>
  <div class="media-body">
    <h4 class="media-heading">7 &dot; <%= comment.created_at %></h4>
    <%= simple_format(comment.body) %>
	<% if current_commenter %>
		<% if comment.owner_id == current_commenter.id %>
    		<%= link_to t('acl_cogito.actions.delete'), comment_path(comment), :method => :delete, :remote => true %>
		<% end %>
  	<% end %>
  </div>
</div>
