<h1><%= t('acl_cogito.messages.comments') %></h1>

<%= paginate @comments %>

<%= render :partial => "acl_cogito/comments/comments", :locals => { :comments => @comments } %>

<%= paginate @comments %>